<footer class="footer">
  <small>
    <%= t (".the_footer") %><%= link_to t(".rails_tut_footer"),
      "http://www.railstutorial.org/"%>
    <%= t (".by_footer") %><%= link_to t(".michael_hartl_footer"),
      "http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>

      <li><%= link_to t(".about_footer"), about_path %></li>
      <li><%= link_to t(".contact_footer"), contact_path %></li>
      <li><%= link_to t(".news_footer"), "http://news.railstutorial.org/"%></li>
    </ul>
  </nav>
</footer>
